* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: #ff00ff;
}

.logo{
  background-color: #fbb3ff;
  height: 70px;
}

.header-content{
  background-color: #fbb3ff;
  height: 70px
}